body {
    padding: 1% 1%;
}
.header-home {
    padding-left: 6%;
}
.main-container-home {
    width: 100%;
    height: auto;
    padding: 0px 0px 0px 40px;
    margin-right: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:
    "text1 foto foto foto"
    "text2 foto foto foto"
    "text3 foto foto foto";
}

.main-text-home {
    grid-area: text1;
    margin-top: 30%;
    font-size: 3.6rem;
}
.main-text-home-t {
    grid-area: text2;
    margin-top: 0px;
    padding-right: 10%;
    font-size: 1.8rem;
}
.main-text-home-read {
    grid-area: text3;
    margin-top: 0;
    margin-bottom: 25%;
    font-size: 1.8rem;
}
.main-image-home {
    grid-area: foto;
    width: 100%;
    height: auto;
    padding: 10%;
}
.main-container-home-box {
    max-width: 235px;
    max-height: 115px;
    margin-top: calc(0% - 100px);
    margin-right: calc(14% - 60px);
}
.main-home-text3 {
    padding: 5px 25px 5px 0px;
}
.main-home-text1 {
    font-size: 1.4rem;
    padding: 10px 10px 0px 5px;
}
.main-home-text2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 5px;
}