.parrafo-recibe-blog {
    padding: 0 20% 0px 0px;
}
.container-recibe-time {
    grid-template-columns: 6% 94%;
}
.main-form-check {
    padding: 0 20% 0px 0px;
}
.main-container-list {
    padding: 0 20% 0px 0px;
}
.icon-header-recipe-blog {
    padding: 10% 0 0 0;
}
.box-recibe-blog {
    grid-template-columns: 7% 93%;
}