* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background: #E5E5E5;
}
.container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 5% 15% 80%;
    grid-template-areas:
    "header header header header"
    "side side main main"
    "side side main main";
    justify-content: center;
}
.container-header {
    /* position: fixed; */
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 50px;
    background: #0A3871;
    font-size: 1.8rem;
    color: #E5E5E5;
}
.reto {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 24px;
    text-align: start;
}
.logo {
    width: 24px;
    height: 24px;
    margin-top: 12px;
    margin-left: 35px;
}
.title-logo {
    margin-top: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-nav {
    width: 100%;
    height: auto;
    grid-area: side;
    font-size: 2rem;
    color: #E5E5E5;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.photo {
    width: 100%;
    height:auto;
    padding: 5%;
    /* margin: 20% 0 2% 13%; */
    border-radius: 200px 100px 100px 70px;
    justify-self: center;
}

.photo-text {
    text-decoration: none;
    text-align: center;
    color: #0A3871;
}

.container-main {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.main-container-descriptions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 40% 60%;
    grid-template-areas:
    "title imagen imagen"
    "texts imagen imagen"
    "parrafo imagen imagen";
    margin-top: 40px;
}
.main-title {
    grid-area: title;
    text-decoration: none;
    color: black;
}
.main-imagen {
    grid-area: imagen;
    width: 100%;
    height: auto;
    padding: 5%;
}

.main-textD {
    grid-area: texts;
    font-size: 2rem;
}

.main-parrafoD {
    grid-area: parrafo;
    font-size: 1.4rem;
}




.container-footer {
    width: 100%;
    height: 30px;
    margin-top: 70px;
}
.title-footer {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}