* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    background: #FFFFFF;
}
/*menu desplegable*/
.hamburguer{
    display: none;
}
.nav-menu-buttons {
    display: flex;
}
.close {
    display: none;
}
.nav-menu-desplegar {
    width: 100%;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: -25px;
}
ul li a {
    text-decoration: none;
    color: #FFFFFF;
}
ul li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
}
.li-linea-service {
    padding: 0 0 6px 0;
    border-bottom: 2px solid #FFFFFF;
}

/*estilos generales*/
.header-edie {
    padding: 0 5%;
}
.container-main-edie {
    padding: 0 5%;
}
.home-text-edit {
    margin-top: 13px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
}
.container-box-website {
    display: grid;
    width: 100%;
    height: auto;
}
.box-website {
    display: grid;
    width: auto;
}
.text-website {
    margin-top: 48px;
    padding-left: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 18px;
    color: #2D9CDB;
}
.text-services {
    padding: 0 20px 0 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 36px;
    color: #333333;
}
.img-heroimage {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 18px;
}
.container-story {
    width: 100%;
    height: auto;
    display: grid;
    margin-top: 22px;
    padding-left: 32px;
}
.story-emotion-and-purse {
    width: 100%;
    height: auto;
    display: grid;
}
.text-story {
    padding: 0 70px 0 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 36px;
    color: #333333;
}
.text-help-ideas {
    margin-top: 33px;
    padding: 0px 62px 0 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 18px;
    color: #4F4F4F;
}
.container-contact-you {
    width: 100%;
    height: auto;
    display: grid;
}
.text-want {
    margin-top: 31px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.0rem;
    line-height: 15px;
    color: #828282;
}
.container-button-join {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    background: #F2F2F2;
    width: 100%;
    max-width: 291px;
    height: 47px;
    margin-top: 5px;
    border-radius: 12px;
    justify-items: center;
}
.input-email {
    width: 147px;
    height: 26px;
    margin-top: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    color: #BDBDBD;
    background: #F2F2F2;
    border: 0;
}
.button-join {
    width: 100%;
    height: auto;
    margin-top: 4px;
    max-width: 71px;
    max-height: 39px;;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    color: #F2F2F2;
    background: #2D9CDB;
    border-radius: 12px;
    border: 0;
}
.container-design {
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 108px;
    padding-left: 32px;
}
.text-service {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.container-services-on {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    width: auto;
}

/*simbols - icons*/
.material-symbols-sharp {
    margin-top: 5px;
    padding: 10%;
    font-size: 50px;
    color: #FFFFFF;
    background: #2D9CDB;
    border-radius: 25px;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}
.material-icons {
    padding: 10%;
    border-radius: 25px;
    font-size: 50px;
    color: #FFFFFF;
    background: #27AE60;
}
.material-symbols-rounded {
    padding: 10%;
    border-radius: 25px;
    font-size: 50px;
    color: #FFFFFF;
    background: #EB5757;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
/*----*/
.box-front-end {
    display: grid;
    width: 100%;
    width: auto;
    max-width: 341px;
    max-height: 422px;
    margin-top: 87px;
    padding: 0 5%;
    align-items: center;
    justify-items: start;
}
.ux-design {
    padding: 5%;
}
.front-end {
    padding: 5%;
}
.back-end {
    padding: 5%;
}

/* efecto :hover*/

.ux-design:hover {
    width: 341px;
    height: 422px;
    background: #ffffff;
    box-shadow: 0px 3px 25px 15px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}
.front-end:hover {
    width: 341px;
    height: 422px;
    background: #ffffff;
    box-shadow: 0px 3px 25px 15px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}
.back-end:hover {
    width: 341px;
    height: 422px;
    background: #ffffff;
    box-shadow: 0px 3px 25px 15px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}

/*-------------*/
button:hover {
    cursor: pointer;
}

.text-front-end {
    margin-top: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 36px;
    color: #333333;
}
.parrafo-front-end {
    margin-top: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    color: #4F4F4F;
}
.button-front-end {
    width: 116px;
    height: 42px;
    margin-top: 39px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 24px;
    color: #828282;
    background: #E0E0E0;
    border-radius: 12px;
    border: 0;
}
.button-front-blue {
    color: #FFFFFF;
    background: #2D9CDB;
}
.container-business {
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 146px;
}
.container-business-desing {
    display: grid;
    width: 100%;
    height: auto;
}
.text-bussiness {
    padding: 0 8px 0 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 36px;
    color: #333333;
}
.img-edie {
    width: 100%;
    height: auto;
    margin-top: 48px;
    border-radius: 24px;
}
.text-photos-edie {
    margin-top: 6px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 18px;
    color: #828282;
}
.text-descrptions-edie {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 36px;
    color: #333333;
}
.text-see-more {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 36px;
    color: #2D9CDB;
}
/*row*/

.material-symbols-outlined {
    margin-top: 5px;
    color: #2D9CDB;
    font-size: 1.4rem;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
/*...*/
.container-see-more {
    display: grid;
    grid-template-columns: 32% 78%;
    grid-template-rows: 1fr;
    width: 100%;
    height: auto;
    margin-top: 35.64px;
    font-weight: 700;
    align-items: center;
}
.container-team {
    display: grid;
    width: 100%;
    height: auto;
}
.container-meet-the-team {
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.text-meet {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 27px;
    color: #EB5757;
}
.text-we-team {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 54px;
    color: #333333;
}
.text-descriptions {
    margin-top: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    color: #4F4F4F;
}
.container-img-team-person {
    display: grid;
    grid-template-areas:
    "person3 person1"
    "person3 person2";
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    width: 100%;
    height: auto;
    align-items: center;
}
.img-person3 {
    grid-area: person3;
}
.img-person1 {
    padding: 0px 10px 0px 0px;
    grid-area: person1;
}
.img-person2 {
    grid-area: person2;
}
.img-team-person {
    width: 100%;
    height: auto;
    border-radius: 24px;
}
.container-description-edie {
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 100.31px;
}
.text-description-fast {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 36px;
    color: #333333;
}
.box-card-person {
    display: grid;
    grid-template-areas:
    "foto name1"
    "foto occupation";
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 18px;
}
.img-card-person {
    grid-area: foto;
    width: 100%;
    height: auto;
    max-width: 95px;
    max-height: 122px;
    border-radius: 24px;
}
.text-name {
    grid-area: name1;
    ont-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 36px;
    color: #333333;
}
.text-occupation {
    grid-area: occupation;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 27px;
    color: #828282;
}

/*footer*/
.container-footer-services {
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 103px;
    background: #100E1D;
}
.container-box-services {
    display: grid;
    width: 100%;
    height: auto;
    padding-left: 32px;
    padding: 10%;
}
.footer-section-li {
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 2px;
    justify-items: start;
}
.footer-li {
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 160%;
    color: #FFFFFF;
    list-style: none;
}
.container-edie-red {
    margin-top: 64px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 53px;
    color: #F2F2F2;
}
.p-contact-you {
    margin-top: 65px;
}
.container-footer {
    width: 100%;
    height: 30px;
    margin-top: 70px;
}
.title-footer {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 17px;
    text-align: center;
    color: #A9A9A9;
}
